extends layout

block content
	//- Programatically create toggle switches
	- for (var i = 0; i < 50; ++i) {
		.switchbox(data-role='fieldcontain')
			label(for="switch_" + (i))=(i + 1)
			select(name=(i), id="switch_" + i, class="switch", data-role='slider', data-mini='false')
				option(value="n") No
				option(value="y") Yes
	- }

	script
		//Monitor page for switch changes
		$( ".switch" ).change(function() {
		updateSwitchStatus();
		});